block variables
    - var name = "Hunter"

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    link(rel='stylesheet', type='text/css', href='dist/main.css')
    title Webpack project
  body
    h1 Hello! Chill bro
    p #{name}
    script(src="./dist/main.js")

