{% extends 'base.html' %}

{% block title %}Home{% endblock %}



{% block content %}

<div class="container">
    {% if user.is_authenticated %}

        <div class="cards">

                <div class="room-card">
                    <h3><a href="/chat/users/">All USERS</a></h3>
                </div>

                <div class="room-card">
                    <h4><a href="chat/created/">CreatE RooM</a></h4>
                </div>

        </div>

        <div class="sign">
            <h3>Available rooms</h3>
        </div>

    <style>
        .cards {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px; /* Расстояние между карточками */
        }

        .room-card {
            border: 1px solid #ccc;
            padding: 10px;
            border-radius: 5px;
            text-align: center;
        }
    </style>

    {% if rooms %}
        <div class="cards">
            {% for room in rooms %}

                <div class="room-card">
                    <h3><a href="/{{room.slug}}">{{room.name}}</a></h3>
                </div>

            {% endfor %}
        </div>
</div>

<div>
    {% else %}
        <h3>No Rooms Available!</h3>
    {% endif %}
</div>

{% else %}
<div>
    <div class="sign">
        <h3>You are not logged in</h3>
        <a href="/accounts/logout/">
          <button type="button" class="btn button-center"><a href="{% url 'login' %}">Log In</a></button>
        </a>
      </div>
</div>  
{% endif %}
</div>

<br/>

{% endblock %}